.perfil-container {
  padding: 20px;
  max-width: 800px;
  margin: auto;
  text-align: center;
}

.user-info {
  background-color: #f9f9f9;
  padding: 20px;
  border-radius: 10px;
  margin-bottom: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.user-info p {
  margin: 10px 0;
}

.user-info button {
  margin-top: 10px;
  padding: 10px 20px;
  font-size: 1em;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.user-info button:hover {
  opacity: 0.8;
}

.user-products {
  margin-top: 20px;
}

.products-list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.product-card {
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  width: 200px;
  text-align: center;
}

.product-card img {
  max-width: 100%;
  height: auto;
  border-radius: 10px;
}

.product-card h3 {
  margin-top: 10px;
  font-size: 1.2em;
}

.product-card p {
  margin: 10px 0;
}

.delete-product {
  margin-top: 10px;
  padding: 10px 20px;
  font-size: 1em;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  background-color: #f44336;
  color: white;
}

.delete-product:hover {
  background-color: #d32f2f;
}
