.perfil-container {
    padding: 20px;
  }
  
  .user-info {
    margin-bottom: 20px;
  }
  
  .user-info p {
    margin: 5px 0;
  }
  
  .user-info button {
    margin-top: 10px;
    padding: 10px 15px;
    background-color: #25d366;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .user-info button:hover {
    background-color: #128c7e;
  }
  
  .user-products {
    margin-top: 20px;
  }
  
  .products-list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
  }
  
  .product-card {
    position: relative;
    width: 220px; /* Fijar el ancho de las tarjetas para un diseño consistente */
  }
  
  .delete-button {
    position: absolute;
    top: 10px;
    right: 10px;
    padding: 5px 10px;
    background-color: #ff4d4f;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .delete-button:hover {
    background-color: #d9363e;
  }
  